html {
	font-size: 14px;
}

body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 100%;
    font-weight: lighter;
    font-family: 'Roboto Condensed',Arial,sans-serif;
    color: black;
    background: #fcf9af;
    width: 980px;
    border: 0;
}

/* LINKS */

a:link, a:visited {
    color: Purple;
    text-decoration: none;
}

a:hover {
    color: blue;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: DarkBlue;
    text-decoration: none;
}

.quiet_link {
	color: Blue;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}


h1 {
    font-size: 300%;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
}

h2 {
    font-size: 200%;
    margin: 0.1em 0 .2em 0;
}


h3 {
    font-size: 130%;
    margin: 0 0 .3em 0;
    font-weight: bold;
}

h4 {
    font-size: 120%;
    margin: 0.1em 0 .3em 0;
    padding-bottom: 3px;
}

h5 {
    font-size: 110%;
    margin: 1.5em 0 .3em 0;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

strong {
    font-weight: bold;
}

dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

blockquote {
    font-size: 90%;
    color: #777;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

code, pre {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    background: inherit;
    color: #666;
    font-size: 90%;
}


code strong {
    color: #930;
}

hr {
    clear: both;
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 20%;
    line-height: 1px;
}


p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align: middle;
}

.quiet, a.quiet:link, a.quiet:visited {
    color: #333;
    font-weight: normal;
}

.quiet strong {
    font-weight: bold;
}



/* PAGE STRUCTURE */

.container {
    float: left;
    width: 100%;
    padding: 0;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    border-radius: 8px;
    margin-top: 5px;
}

.content {
    margin-top: 2.5%;
    overflow: hidden;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.footer {
    clear: both;
    padding: 10px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size:100%;
}



/* HEADER */

.header {
    background: darkgreen;
    color: white;
    overflow: hidden;
    border: 0;
    font-size: 100%;
    border-radius: 5px;
}


.header a:link, .header a:visited {
    color: white;
}


.logo {
  float: left;
  padding-top: 5px;
  padding-left: 5px;
}

.contact {
    float: right;
    padding-top: 5px;
    padding-right: 5px;
    color: purple;
    font-size: 200%;
    font-weight: bold;
}

.menu_separator {
    color: green;
}

.banner {
    background: white;
}

#menu {
	float:left;
	padding-top: 5px;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 140%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-transform: uppercase;
	height: auto;
}

#menu ul {
    height: auto;
    padding: 10px 0;
    margin: 0;
}

#menu li {
	display: inline;
	margin-left: 10px;
}

#menu a {
	color: white;
}


/* Gallery css */
.gallery{
    width: 100%;
    text-align: center;
}

.gallery_thumbnail {
	padding: 5px;
	width: 296px;
    height: 166px;
    border-width: 0px;
}

.gallery_image {
	width: 912px;
    height: 513px;
    border-width: 0px;
}

.gallery_navigation {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 15px;
    font-size: 140%;
}

.gallery_caption {
    width: 912px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 0px;
}

.gallery_caption_inner {
    padding: 5px;
}

.article_list_image {
	padding: 5px;
	width: 160px;
    height: 90px;
    border-width: 0px;
    float: left;
}

.article_list{
	overflow: hidden;
	margin-bottom: 20px;
	padding: 0;
}

.article_list_link{
    color: black;
}
.article_list_link:link {
    color: black;
}
.article_list_link:active {
    color: #3476b4;
}
.article_list_link:visited {
    color: black;
}
.article_list_link:hover{
    color: #3476b4;
}

.article_list ul{
	margin: 0 0 0 1.5%;
	list-style-type: none;
    position:  relative;
    float:left;
    width: 100%;
    padding-left: 0;
}

.article_list_text{
    margin-left: 180px;
}

.article_list li {
	float:left;
	margin-top: 1.5%;
	margin-right: 1.5%;
	width: 31.3%;
}

.category_image {
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	position:  relative;
}

.image_overlay_tag {
	left: 0;
	bottom: 0;
	position:  absolute;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, .7);
	width: 98.5%;
	height: 22%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 120%;
	color: black;
	padding-top: 1.5%;
	padding-left: 1.5%;
}
a:link, a:visited, a:hover {
    color: Purple;
    text-decoration: none;
}


.caption_container {
	 position: absolute;
	 top: 310px;
	 left: 0;
	 width: 640px;
	 height: 50px;
}

.caption_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 640px;
	height: 50px;
	background-color: Black;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.caption_text {
	position: absolute;
	top: 1px;
	left: 2px;
	width: 640px;
	height: 50px;
    color: White;
    font-size: 140%;

    line-height: 30px;
    text-align: left;
}

/* Article layout */
.article_date_author {
	float: right;
}

.article_header {
	float: left;
}

.article_image {
    margin-top: 60px;
}

.article_blocktext {
    margin-left: 0;
    margin-top: 20px;
    margin-right: auto;
    max-width: 90em;
}



@media only screen and (max-width: 700px) {
	/* Changes to layout for mobile browsers */
    }

}
